@import "variables";
@font-face { font-family: Muli200; src: url("../assets/fonts/Muli-ExtraLight.ttf") }
@font-face { font-family: Muli300; src: url("../assets/fonts/Muli-Light.ttf") }
@font-face { font-family: Muli400; src: url("../assets/fonts/Muli-Regular.ttf") }
@font-face { font-family: Muli500; src: url("../assets/fonts/Muli-Medium.ttf") }
@font-face { font-family: Muli600; src: url("../assets/fonts/Muli-SemiBold.ttf") }
@font-face { font-family: Muli700; src: url("../assets/fonts/Muli-Bold.ttf") }
@font-face { font-family: Muli800; src: url("../assets/fonts/Muli-ExtraBold.ttf") }
@font-face { font-family: Muli900; src: url("../assets/fonts/Mulish-Black.ttf") }



$dark-slate: #586674;
$med-slate: #778899;
$light-slate: #b4c0cc;
$dark-gray: #707070;
$med-gray: #c4c4c4;
$light-gray: #e9e9e9;
$red: #fb5959;
$darker-red: #e34040;
$green: #51b751;
$darker-green: #48a448;
$yellow: #ffcf52;
$orange: #fc9c56;
$blue: #71b8fa;
$white: #fff;

$black: #000;
$faded-green: #142E14;

.sero_toolbar {
  height: 4em;
  width: 100%;
  padding: 1em;
  background: $light-slate;

  .assignTitle {
    display: inline-block;

    p {
      font-size: 1.6em;
      font-family: Muli600;
      color: #586674;
    }
  }

  .zoomIcons {
    display: inline-block;
    float: right;
    img {
      height: 2em;
      margin-left: 0.4em;
    }

    img:active {
      filter: hue-rotate(265deg);
    }
  }
}

.sero_svg_canvas {
  display: block !important;
  min-width: 700px;
  min-height: 700px;
  width: 100%;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.concept {
  rect {
    stroke: $dark-slate;
    fill: $white;      
    stroke-width: 0.2em;
    rx: 0.2em;
  }
  text {
    fill: $dark-slate;
    font: 10pt 'Muli700';
    pointer-events: none;
    letter-spacing: 0.04em;
  }   
}

.relation {
  rect {
    stroke: $light-slate;
    fill: $white;
    stroke-width: 0.2em;
    rx: 0.2em;
  }
  text {
    fill: $dark-slate;
    font: 10pt 'Muli700';
    pointer-events: none;
    letter-spacing: 0.02em;
  }
}

.link {
  stroke: $med-slate;
  stroke-width: 0.2em;
  fill: $med-slate;
}

.assessment {

  .none {
    display: none;
  }

  .selected { 
    rect {}
    text {}
  }
  .concept {
    rect {
      stroke: $dark-slate;
      fill: $white;      
      stroke-width: 0.2em;
      rx: 0.2em;
    }
    text {
      fill: $dark-slate;
      font: 10pt 'Muli700';
      pointer-events: none;
      letter-spacing: 0.04em;
    }   
  }
  .relation {
    rect {
      stroke: $light-slate;
      fill: $white;
      stroke-width: 0.2em;
      rx: 0.2em;
    }
    text {
      fill: $dark-slate;
      font: 10pt 'Muli700';
      pointer-events: none;
      letter-spacing: 0.02em;
    }
  }
  .concept.dragDrop {
    cursor: grab;

    rect {
      stroke: none;
      fill: $green;
    }
    text {
      fill: $white;      
    }
  }
  .fillIn {
    cursor: pointer;
    rect {
      stroke: $green;
      fill: $white;
    }
    text {
      fill: $green;
    }
  }
  .fillInAnswered {
    cursor: pointer;
    rect {
      stroke: $green;
      fill: $white;
    }
    text {
      fill: $green;
    }
  }
  .multiChoice {
    cursor: pointer;
    rect {
      stroke: none;
      fill: $green;
    }
    text {
      fill: $white;
    }
  }
  .concept.connectTo {
    cursor: grab;
    rect {
      stroke: none;
      fill: $green;
    }
    text {
      fill: $white;
    }
  }
  .concept.buildDrop {
    rect {
      stroke: $dark-slate;
      fill: $med-slate;
    }
    text {
      fill: $white;  
    }
  }

  .selected.fillIn, .selected.multiChoice {
    rect {
      stroke: $green;
    }
  }
  
  .relation.dragDrop {
    rect {
      stroke: $green;
      fill: $white;
    }
    text {
      fill: $green; 
    }
  }

  .relation.buildDrop {
    rect {
      stroke: $light-slate;
      fill: $white;
    }
    text {
      fill: $dark-slate;
    }
  }

  .relation.connectTo {
    rect {
      stroke: $light-slate;
      fill: $white;
    }
    text {
      fill: $green; 
    }
  }

  .directionRelation {
    rect {
      stroke: $green;
      fill: $white;
    }
    text {
      fill: $dark-slate;
    }
  }

  .link {
    stroke: $med-slate;
    stroke-width: 0.2em;
  }
  .hidden {
    display: none;
  }
  .link.connect-link {
    stroke: $darker-green;
    stroke-width: 0.2em;
    fill: $darker-green;  
  }
  .link.build-link {
    stroke: $med-slate;
    stroke-width: 0.2em;    
  }
  .link.directionless {
    stroke: $darker-green;
    stroke-width: 0.2em;
    fill: $darker-green;
  }
  .link.ad_default {
    stroke: #a3d1a3;
    stroke-width: 0.2em;
    fill: #a3d1a3;
  }
  .link.ad_select {
    stroke: $darker-green;
    stroke-width: 0.5em;
    fill: $darker-green;
  }
  .link.ad_unselect {
    stroke: #a3d1a3;
    stroke-width: 0.2em;
    fill: white;
  }
  .link.selected, .link.connect-link.selected{
    stroke-width: 0.3em;
  }
  .link.hidden {
    display: none;
  }
}

.assessment.dark {
   .none {
    display: none;
  }
  .selected { 
    rect {}
    text {}
  }
  .concept {
    rect {
      stroke: $med-slate;
      fill: $black;      
      stroke-width: 0.2em;
      rx: 0.2em;
    }
    text {
      fill: $light-slate;
      font: 10pt 'Muli700';
      pointer-events: none;
      letter-spacing: 0.04em;
    }   
  }
  .relation {
    rect {
      stroke: $med-slate;
      fill: $light-slate;
      stroke-width: 0.2em;
      rx: 0.2em;
    }
    text {
      fill: $black;
      font: 10pt 'Muli700';
      pointer-events: none;
      letter-spacing: 0.02em;
    }
  }
  .concept.dragDrop {
    rect {
      stroke: $green;
      fill: $faded-green;
    }
    text {
      fill: $white;      
    }
  }
  .fillIn {
    rect {
      stroke: $green;
      fill: $faded-green;
    }
    text {
      fill: $green;
    }
  }
  .fillInAnswered {
    rect {
      stroke: $green;
      fill: $faded-green;
    }
    text {
      fill: $green;
    }
  }
  .multiChoice {
    rect {
      stroke: none;
      fill: $green;
    }
    text {
      fill: $white;
    }
  }
  .concept.connectTo {
    rect {
      stroke: none;
      fill: $green;
    }
    text {
      fill: $light-slate;
    }
  }
  .concept.buildDrop {
    rect {
      stroke: $dark-slate;
      fill: $med-slate;
    }
    text {
      fill: $light-slate;  
    }
  }

  .selected.fillIn, .selected.multiChoice {
    rect {
      stroke: $green;
    }
  }
  
  .relation.dragDrop {
    rect {
      stroke: $green;
      fill: $black;
    }
    text {
      fill: $green; 
    }
  }

  .relation.buildDrop {
    rect {
      stroke: $light-slate;
      fill: $black;
    }
    text {
      fill: $light-slate;
    }
  }

  .relation.connectTo {
    rect {
      stroke: $light-slate;
      fill: $black;
    }
    text {
      fill: $green; 
    }
  }

  .directionRelation {
    rect {
      stroke: $green;
      fill: $black;
    }
    text {
      fill: $light-slate;
    }
  }

  .link {
    stroke: $med-slate;
    stroke-width: 0.2em;
  }
  .hidden {
    display: none;
  }
  .link.connect-link {
    stroke: $darker-green;
    stroke-width: 0.2em;
    fill: $darker-green;  
  }
  .link.build-link {
    stroke: $med-slate;
    stroke-width: 0.2em;    
  }
  .link.directionless {
    stroke: $darker-green;
    stroke-width: 0.2em;
    fill: $darker-green;
  }
  .link.ad_default {
    stroke: #a3d1a3;
    stroke-width: 0.2em;
    fill: #a3d1a3;
  }
  .link.ad_select {
    stroke: $darker-green;
    stroke-width: 0.5em;
    fill: $darker-green;
  }
  .link.ad_unselect {
    stroke: #a3d1a3;
    stroke-width: 0.2em;
    fill: black;
  }
  .link.selected, .link.connect-link.selected{
    stroke-width: 0.3em;
  }
  .link.hidden {
    display: none;
  }
}

.review {
  .concept {
    rect {
      stroke: $dark-slate;
      fill: $white;
      stroke-width: 0.2em;
      rx: 0.2em;
    }
    text {
      fill: $dark-slate;
      font: 10pt sans-serif;
      pointer-events: none;
      font-family: 'Muli700';
      letter-spacing: 0.04em;
    }   
  }
  .concept.correct {
    rect {
      stroke: $green;
      fill: $green;
    }
    text {
      fill: $white;
    }   
  }
  .concept.incorrect {
    rect {
      stroke: $red;
      fill: $red;
    }
    text {
      fill: $white;
    }   
  }
  .concept.unanswered {
    rect {
      stroke: $red;
      fill: $white;
      stroke-dasharray: 7;
    }
    text {
      fill: $red;
    }   
  }

  .relation {
    rect {
      stroke: $light-slate;
      fill: $white;
      stroke-width: 0.2em;
      rx: 0.2em;
    }
    text {
      fill: $dark-slate;
      font: 10pt 'Muli700';
      pointer-events: none;
      letter-spacing: 0.02em;
    }
  }

  .relation.correct {
    rect {
      stroke: $green;
      fill: $white;
    }
    text {
      fill: $green;
    }   
  }
  .relation.incorrect {
    rect {
      stroke: $red;
      fill: $white;
    }
    text {
      fill: $red;
    }   
  }
  .relation.unanswered {
    rect {
      stroke: $red;
      fill: $white;
      stroke-dasharray: 7;
    }
    text {
      fill: $red;
    }   
  }

  .hidden {
    display: none;
  }

  .link {
    stroke: $med-slate;
    fill: $med-slate;
    stroke-width: 0.2em;
  }

  .link.correct {
    stroke: $darker-green;
    fill: $darker-green;
  }

  .link.incorrect {
    stroke: $darker-red;
    fill: $darker-red;
  }
  .link.missing {
    stroke: $darker-red;
    fill: $darker-red;
    stroke-dasharray: 7;
  }
  .link.unanswered {
    stroke: $darker-red;
    fill: $darker-red;
    stroke-dasharray: 7;
  }
  .link.extra {
    stroke-dasharray: 7;
  }
}
/////////////////
// TOOLBAR


.titleTaker{
  grid-area: title;
  display: inline-grid;
  grid-template-columns: min-content .75fr;
  grid-template-rows: 1.4em minmax(0, auto);
  grid-template-areas: "icon test" " icon info";
  padding-left: 1rem;
  width: 80%;
}

.assignTitle{
  grid-area: test;

  align-self: baseline;
  color: #586674;
  font-family: "Muli700";
  //margin-top: .35em;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
  margin-bottom: 0;
}

.assignTitle h2{
  font-size: 12pt;
}

.titleTaker p.assignTitle{
  margin-bottom: -.2em;
}

.assignTitleTaker{
  grid-area: test;
  font-size: 1.125rem;
  align-self: baseline;
  color: #586674;
  font-family: "Muli700";
}

.editIcon{
  grid-area: score;
}

.editIcon img{
  height: 1.1rem;
  position: relative;
  top: .4em;
  left: .5em;
  cursor: pointer;
}

.light{ 
  color: white;
}

.lastUpdate{
  grid-area: info;
  align-self: center;
  font-size: 9pt;  
}

.testInfoVisible{
  grid-area: info;
  font-size: 9pt;
}

.score{
  font-family: 'Muli700';
  font-size: 10pt;
  background: #F4F4F4;
  padding: 0 .5em 0 .2em;
  margin-right: 2em;
  border-radius: .25em;
  color: #586674;
}




/////////////////
// FOOTER


.sero_footer_wrapper{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr minmax(0, 3em);
    grid-template-areas: "content arrow";
    height: 5em;
    background: #e9e9e9;
    position: sticky;
    //bottom: -1em;
    transition: opacity 1s, height .5s; 
}

.sero_footer_wrapper.dark {    
    background: #000;
}


.collapseFooter{
  height: 0em;
  opacity: 0;
}

.sero_footer_wrapper {
  
  p{
    letter-spacing: .2pt !important;
  }

  .stacked{
      height: auto !important;

      .pills-wrapper{
          grid-gap: .5em !important;
      }
  }

  .adjustHgt{
      height: 80% !important;
  }

  .sero_footer_footerContent{
      grid-area: content;
      display: grid;
      grid-template-columns: max-content minmax(auto, max-content) auto;
      grid-template-areas: 'title text input ';
  }

  .sero_footer_title{
      grid-area: title;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      font-size: 12pt;
      font-family: 'Muli800';
      padding-left: 1.5em;
      padding-right: 1em;
      //line-height: 120%;
    img{
        display: inline;
        vertical-align: middle;
        cursor: pointer;
        margin-left: .5em;
        height: 1.3em;
    }      
  }

  .sero_footer_instruction{
      grid-area: text;
      padding: 0.3em .5em .3em 0;
      display: flex;  
      justify-content: center;
      align-items: center;
  }

  .sero_footer_instrText{
      display: block;
      font-size: 8pt;
      font-family: Muli300;
      line-height: 9pt;
      min-width: 12em;
      padding-left: 1em;
      margin: 0;
  }

  .subText{
      font-size: 8pt;
      font-style: italic;
      font-family: Muli300;
      line-height: 9pt;
      max-width: 10.5em;
      padding-left: 1em;
      margin: 0;
  }

  .boldText{
      font-size: 10pt;
      font-family: Muli600;
      line-height: 9pt;
  }

  .error-correct{
      padding: 0.3em 0 .3em 1.5em !important;
      margin-top: -.3em !important;
  }

  .sero_footer_textSingle{
      
      font-size: 9.5pt !important;
      margin-bottom: 0;
      margin-top: .2em;
      line-height: 12pt;
      font-family:'Muli600' !important;
      max-width: 37em;
      //max-width: 25em;
      //padding-left: 1.5em;
  }

  .sero_footer_textDouble{
      max-width: 18.5em;
      font-size: 9.5pt !important;
      margin-bottom: 0;
      //margin-top: -.2em;
      line-height: 10pt;
      font-family:'Muli300' !important;
      //max-width: 25em;
  }

  .sero_footer_detail{
      color: $dark-slate;
      font-size: 8pt !important;
      margin: 3pt 0 0 0;
      font-family:'Muli400' !important;
      font-style: italic;  
  }

  .sero_footer_container{
      grid-area: input;
      display: inline-flex;
      padding: 0.4em;
      border-radius: 0.2em;
      align-items: center;
      min-width: 15em;;
      //margin-top: .8em;
  }

  .pillsDivider, .legendDivider, .leftDivider{
    border-left: 1px solid $light-slate;

    height: 2.1em;
    //margin-top: .5em;
    padding-left: 1.5em;
  }

  .dividers{

      //align-content: center;
      border-left: 1px solid $light-slate;
      width: 70%;
      text-align: center;
      border-right: 1px solid $light-slate;
      position: relative;
      height: 2.1em;
      //top: -.3em;
      padding: 0 .5em;
  }

  textarea{
      border: 0.02em solid #b4c0cc;
      color: #586674;
      font-size: 1.2em;
      //width: 14em;
      height: 1.3em;
      padding-top: 0.2em;
      //padding-left: .5em;
      margin-bottom: .35em;
      font-family: "Muli600";
      resize: none;
      //box-sizing: border-box;
      width: 95%;
   
      
  }

  textarea::placeholder {
      color: #778899;
  }
  textarea:focus{
      outline: none;
      border: 1.5px solid #51b751;
  }


  .pills-wrapper {

      display: inline-grid;
      grid-template-columns: repeat(4, minmax(0, max-content));
      grid-template-rows: auto auto;
      //height: 5em;
      grid-gap: 0 .5em;
      align-content: start;
      padding-left: .5em;

      label{
        display: block;
        border: 2px solid #fff;
        padding: 0.2em 0.5em;
        font-size: 9pt;
        text-align: center;
        border-radius: 2em;
        background: #fff;
        margin-top: 0;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        min-width: 6em;
        max-width: 11em;
    }


  }

  .actionBtn{
      padding-left: 1em;
  }

  .actionBtn img{
      width: 1.4em;
      padding-left: 20%;
      height: 1.4em;
      display: inline;
      vertical-align: text-top;
      margin-top: .5em;


  }

  .removeLabel{
      font-size: 8pt;
      margin-bottom: 0px;
      margin-top: -0.5em;
      color: rgb(251, 89, 89);
  }

  .sero_footer_footerArrow{
      grid-area: arrow;
      display: grid;
      justify-content: end;
      padding-right: .5em;
      padding-top: .6em;

  }

  .sero_footer_footerArrow img{
      height: 32px;
      width: 32px;
      //position: absolute;
      transform: rotate(270deg);
      filter: contrast(0.1);
      //left: 90%;
      //top: 0.4em;
  }

  //Taker Legend

  .ske-legend, .bam-legend{
      grid-area: content;
      display: inline-flex;
      align-items: center;
      //grid-template-columns: auto;
     
  }




  .legendTitle{
      margin: 0 1.5em 0 1.5em;
      font-size: 12pt;
      font-family: 'Muli700';
      color: #586674;
  }

  .box{
     
      width: max-content;
      color: white;
      border-radius: .25em;
      margin-bottom: 0;
      line-height: 10pt;
      padding: .2em .5em .4em;
      margin-left: .9em;
      //font-size: 9pt !important;


  }

  .green{
      background-color: $green;
  }

  .red{
      background-color: $red;
  }

  .dashed{

      background: transparent;
      border: 2px dashed $red;
      color: $red;
      margin-left: .7em !important;
      line-height: 7.5pt !important;
  }




  .inputs{
      display: inline-flex;
      margin-top: .3em;   
  }

  .assessorLayout{

      display: grid;
      grid-template-columns: auto auto;

      .missing, .extra{
          margin-top: -.5em !important;
          margin-left: .1em !important;
      }
      
  }

  .symbols{
      display: inline-flex;
      margin-top: .5em;


  }

  .filter_input{
      padding-bottom: .5em;

  }


  .lpArrow {
      
      display: inline-flex;
      margin: .4em 1.5em 0 .5em;

      p{ 
          margin: 0 .2em; 
      }

      img{
          height: 1em;
          margin-top: 0.3em;
          display: inline;
      }

      .correct.mat-checkbox-layout{
          margin-bottom: .3em;
      }

      .correct{
          filter: invert(59%) sepia(15%) saturate(1581%) hue-rotate(71deg) brightness(100%) contrast(90%);
      }

      .incorrect{
          filter: invert(56%) sepia(74%) saturate(3273%) hue-rotate(327deg) brightness(85%) contrast(111%);

      }

      .missing{
          height: .8em !important;
          margin-top: .25em !important;
          filter: invert(56%) sepia(74%) saturate(3273%) hue-rotate(327deg) brightness(85%) contrast(111%);
      }

      .extra{
          height: .8em !important;
          margin-top: .5em !important;
          filter: invert(59%) sepia(70%) saturate(663%) hue-rotate(185deg) brightness(107%) contrast(96%);
      
      }

  }

}

.sero_footer_wrapper.dark {
  .sero_footer_title {
    color: $med-slate
  }
  .sero_footer_textSingle, .sero_footer_textDouble {
    color: $med-slate
  }
  .sero_footer_detail {
    color: $light-slate
  }
  textarea {
    background: $faded-green;
    color: $green;
  }
}